* {
    box-sizing: border-box;
}

.container {
    width: 800px;
    flex-direction: row;
    display: flex;
}

.spacer {
    opacity: 0;
}

.games {
    div {
        width: 125px;
        border: 1px solid #000;
        margin: 10px 0;
        background: #73789F;
        color: white;
        padding: 10px 10px 10px 20px;
    }
    &.depth-1 {
        div {
            margin-top: 61px;
            &:first-child {
                margin-top: 37px;
            }
        }
    }
    &.depth-2 {
        div {
            margin-top: 170px;
            &:first-of-type {
                margin-top: 90px;
            }
        }
    }
    &.depth-3 {
        div {
            margin-top: 185px;
        }
        &.if-neccessary {
            div {
                margin-top: 90px;
            }
        }
    }
}

.connecter {
    width: 30px;
    div {
        border: 1px solid #000;
        border-left: none;
        width: 100%;
    }
    &.depth-0 {
        div {
            height: 50px;
            margin: 50px 0 0 1px;
            &:first-child {
                margin: 32px 0 0 1px;
            }
            &.bottom-half {
                position: relative;
                border-top: 0;
                &:after {
                    content: "";
                    background-color: white;
                    position: absolute;
                    top: -2px;
                    right: -1px;
                    height: 50%;
                    width: 100%;
                }
            }
            &.top-half {
                position: relative;
                border-bottom: 0;
                &:after {
                    content: "";
                    background-color: white;
                    position: absolute;
                    bottom: 0;
                    right: -1px;
                    height: calc(50% + 1px);
                    width: 100%;
                }
            }
        }
    }
    &.depth-1 {
        div {
            margin-top: 103px;
            height: 107px;
            &:first-child {
                margin-top: 57px;
            }
            &.bottom-half {
                position: relative;
                border-top: 0;
                &:after {
                    content: "";
                    background-color: white;
                    position: absolute;
                    top: -2px;
                    right: -1px;
                    height: 50%;
                    width: 100%;
                }
            }
            &.top-half {
                position: relative;
                border-bottom: 0;
                &:after {
                    content: "";
                    background-color: white;
                    position: absolute;
                    bottom: 0;
                    right: -1px;
                    height: calc(50% - 1px);
                    width: 100%;
                }
            }
        }
    }
    &.depth-2 {
        div {
            margin-top: 125px;
            height: 270px;
        }
    }
    &.depth-3 {
        div {
            height: 215px;
            margin-top: 108px;
        }
        &.if-neccessary {
            div {
                height: 0px;
                margin-top: 110px;
                border-top: 1px dashed black;
                border-bottom: 0;
            }
        }
    }
}

.lines {
    width: 30px;
    div {
        border-top: 1px solid #000;
    }
    &.depth-0 {
        div {
            margin: 100px 0 0 1px;
            &:first-child {
                margin-top: 55px;
            }
        }
    }
    &.depth-1 {
        div {
            margin-top: 210px;
            &:first-child {
                margin-top: 110px;
            }
        }
    }
    &.depth-2 {
        div {
            margin-top: 110px;
        }
    }
    &.depth-3 {
        div {
            margin-top: 208px;
        }
        &.if-neccessary {
            div {
                height: 0px;
                margin-top: 110px;
                border-top: 1px dashed black;
                border-bottom: 0;
            }
        }
    }
}
