* {
    box-sizing: border-box;
}

.container {
    width: 800px;
    height: 600px;
    flex-direction: row;
    display: flex;
}

.spacer {
    opacity: 0;
}

.games {
    div {
        width: 125px;
        border: 1px solid #000;
        margin: 10px 0;
        background: #73789F;
        color: white;
        padding: 10px 10px 10px 20px;
    }
    &.depth-1 {
        div {
            margin-top: 65px;
            &:first-child {
                margin-top: 37px;
            }
        }
    }
    &.depth-2 {
        div {
            margin-top: 90px;
        }
    }
    &.depth-3 {
        &.if-neccessary {
            div {
                margin-top: 90px;
            }
        }
    }
}

.connecter {
    width: 30px;
    div {
        border: 1px solid #000;
        border-left: none;
        width: 100%;
    }
    &.depth-0 {
        div {
            height: 50px;
            margin: 80px 0 0 1px;
            &:first-child {
                margin: 32px 0 0 1px;
            }
            &.connecter-spacer {
                height: 25px;
                border-top: 0;
            }
        }
    }
    &.depth-1 {
        div {
            margin-top: 133px;
            height: 107px;
            &:first-child {
                margin-top: 57px;
            }
        }
    }
    &.depth-2 {
        div {
            margin-top: 125px;
            height: 270px;
        }
    }
    &.depth-3 {
        &.if-neccessary {
            div {
                height: 0px;
                margin-top: 110px;
                border-top: 1px dashed black;
                border-bottom: 0;
            }
        }
    }
}

.lines {
    width: 30px;
    div {
        border-top: 1px solid #000;
    }
    &.depth-0 {
        div {
            margin: 107px 0 0 1px;
            &:first-child {
                margin-top: 55px;
            }
        }
    }
    &.depth-1 {
        div {
            margin-top: 270px;
            &:first-child {
                margin-top: 110px;
            }
        }
    }
    &.depth-2 {
        div {
            margin-top: 110px;
        }
    }
    &.depth-3 {
        &.if-neccessary {
            div {
                height: 0px;
                margin-top: 110px;
                border-top: 1px dashed black;
                border-bottom: 0;
            }
        }
    }
}
